Source: yinka-utils
Section: admin
Priority: optional
Maintainer: Steven Lee <geekerlw@gmail.com>
Build-Depends: debhelper (>=9),autotools-dev
Standards-Version: 3.9.6
Homepage: https://github.com/geekerlw
Vcs-Git: https://github.com/geekerlw/yinka-utils.git
Vcs-Browser: https://github.com/geekerlw/yinka-utils.git

Package: yinka-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: yinka tool
 yinka-utils contains some useful tools for yinka board
