[Unit]
Description=yinka update server
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/updater
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
