[Unit]
Description=yinka daemon server
After=network.target

[Service]
Type=simple
User=1000
Group=1000
Environment="DISPLAY=:0.0"
PassEnvironment=
ExecStart=/usr/bin/yinkad
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
